@font-face {
    font-family: Avenir;
    src: url(./assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
    font-family: AvenirMid;
    font-weight: 500;
    src: url(./assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
}
@font-face {
    font-family: AvenirBold;
    font-weight: bold;
    src: url(./assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
}
body{
    font-family: Avenir;
}
h2{
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}
#HeaderLogo{
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 12%;
    width: 120px;
}
#Menu{
    background-color: #323232;
    width: 100%;
}
ul{
    list-style: none;
    display: flex;
}
li{
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar{
    display: flexbox;
    flex-direction: row;
}
.navbar__navitem{
    color: white;
    padding-bottom: 1.5rem;
}
.navbar__navitem--currentpage{
    padding-bottom: 1rem;
    border-bottom: white solid 3px;
    color: white;
}
.NavHostBar{
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
    margin-left: 12%;
    padding-top: 1rem;
}
#BiographyMainLanding{
    width: 100%;
}
#ImageWrapper{
    position: relative;
    width: 100%;
}
#ImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #323232;
    opacity: 50%;
}
#PageTitle{
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flexbox;
    padding-left: 12%;
    padding-top: 17%;
    z-index: 9999;
}
#GalleryContainer{
    background-color: #FAFAFA;
}
.Gallery__Pic{
    margin:1rem;
}
#Gallery{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
}
.Gallery__Pic--Img{
    width: 100%;
}
#GalleryTitle{
    padding-top: 2rem;
    padding-left: 10%;
}
#AboutMusiciansColumn{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}
#AboutMusiciansHeader{
    padding-left: 10%;
}
#BandImage {
    width: 100%;
}
#TwoColumnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Par{
    display:flex;
}
#Divider{
    width: 20%;
}

#CommentSection{
    margin: 60px 0% 5% 16%;
}
footer{
    background-color: #323232;
    width: 100%;
}
#FooterHeader{
    display: flex;
    height: 100%;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
}
.empty{
    display:flex;
    height: 100%
}
#FooterOverallContainer{
    display:flex;
    flex-direction: row;
    margin-top: 2%;
    padding-top:5%;
    margin-left: 12%;
    margin-right:  8%;
}
#FooterHeaderContainer{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}
.FooterHeader{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
}
#FooterGetInTouch {
    color: white;
    font-size: 2.5rem;
}
#FooterLeft{
    width:80%;
}
#FooterRight{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items:end;
}
#FooterBandLogo{
    height: 30%;
    background-size: cover;
    background-position: top;
}
.FooterIcon {
    width: 1.5rem;
    padding-right: 1.5rem;
}
#FooterContentContainer{
    display: flex;
    justify-content: space-between;
}
.FooterContent {
    display:flex;
    flex-direction: column;
    color: white;
    width: 100%;
}
.footer__subheading {
    font-size: 1.2rem;
}
.footer__content{
    padding-bottom: 2rem;
}
#copyright{
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-left: 12%;
    color: white;
}

@media (max-width:600px) {
    #PageTitle {
        padding-left: 5%;
        padding-top: 20%;
        font-size: 2rem;
    }

    #AboutMusiciansHeader{
        padding-left: 5%;
    }   

    #AboutMusiciansColumn{
        margin-left: 5%;
        margin-right: 5%;
    }

    #TwoColumnContainer {
        flex-direction: column;
    }

    #Divider{
        height: 2rem;
    }

    #FooterContentContainer{
        flex-direction: column;
    }
    #FooterHeaderContainer{
        flex-direction: column;
    }

    #FooterOverallContainer{
        flex-direction: column;
    }

    .FooterIcon {
        padding-right: 1.5rem;
    }
    .empty {
        margin-bottom: 0.5rem;
    }

    .FooterHeader{
        margin-top: 0.5rem;
    }

    #Gallery{
        display:flex;
        flex-direction: column;
        margin-left: 3%;
        margin-right:3%;
    }

    #GalleryTitle{
        padding-left: 3%;
    }
    .Gallery__Pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .NavHostBar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    #HeaderLogo{
        margin: 0;
        padding: 0;
    }

    #navbar{
        padding-bottom: 0;
        padding-inline-start: 0;
    }
    
    #NavContent{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }

    .NavItem{
        width:50vw;
        display: flex;
        padding: 0;
        justify-content: center;
    }
}