.concert-table {
    font-family: Avenir;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: #323232;
  
    th, td {
      padding: 20px;
      text-align: left;
      justify-content: space-evenly;
    }
  
    td {
      font-size: 1rem;
    }
  }

  .buy-button {
    background-color: #323232;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .buy-button:hover {
    background-color: #8236ae;
  }
  tr.selected {
    background-color: #c9a8dd;
    transition: background-color 0.3s;
  }